* {
	box-sizing: border-box;
}
body {
	font-family: 'Lato', sans-serif;
	display: block;
	border: none;
	margin: 0;
}

#review {
	font-size: 1.5em;
	text-transform: uppercase;
	font-weight: bolder;
	padding: 10px;
	color: white;
  text-align: center;
	background-color: black;
}

.contact {
	padding-top: 10px;
}

h1 {
	font-size: 1.5em;
	font-weight: bolder;
  text-align: center;
}

legend, h2 {
	font-size: 1.5em;
	font-weight: bolder;
  text-align: left;
	display: inline-block;
	padding-top: .5px;
	padding-bottom: 10px;
}
fieldset {
	border: none;
}

/* Main -------------------- */
hr.class-1 {
	border-top: 10px double black;
	width: 92%;
	margin-top: 2em;
}

#container {
	text-align: left;
	margin: 0;
}

#summary-signup {
	width: 92%;
	text-align: center;
	color: lightgray;
}

#name, #email, #phone, #address, #city, #zip {
	font-size: .75em;
	font-style: italic;
	text-align: right;
	opacity: .50;
}

#state, #phone {
	font-size: .75em;
	font-style: italic;
	text-align: left;
	opacity: .50;
	width: 100%;
}
#zip {
	width: 50%;
}

hr.class-2 {
	border-top: 3px solid black;
	width: 100%;
	margin-top: 1em;
}

.btn {
  font-size: 1.5em;
	font-weight: 900;
  cursor: pointer;
  color: #fff;
  padding-left: 20px;
  padding-right: 20px;
	width: 100%;
	margin: .5em 0 1em;
}
.btn:hover {
  opacity: .30;
}
.default {
  background-color: red;
}
.error {
  background-color: #ff784f;
}

/* Form -------------------- */

.form-contact {
  background: none;
}

label {
  display: block;
  margin-bottom: 0.8em;
}

label:last-of-type {
 text-align: left;
 margin-top: 2em;
}

input,
textarea  {
  outline: none;
	border: none;
	padding: 15px;
	background: #f4f7f8;
	border-radius: .3em;
	border: 3px solid rgba(0,0,0,0.05);
}

input:focus,
textarea:focus {
  border-color: #52bab3;
	outline: none;
}

input[type="text"],
input[type="email"],
textarea {
	font-size: 18px;
  color: #222;
  font-weight: 300;
  width: 100%;
  height: auto;
  box-shadow: 0 1px 0 rgba(0,0,0,0.08) inset;
}
form > a {
  font-size: .85em;
}
input[type="checkbox"] + label {
  font-weight: 300;
	font-size: .85em;
  display: inline;
	padding-left: 5px;
	margin: 5px;
}

input[type="radio"] + label {
  font-weight: 300;
	font-size: .85em;
  display: inline;
	padding-left: 5px;
	margin: 5px;
}

footer {
	text-align: center;
	font-size: .75em;
	font-style: italic;
	opacity: .50;
	margin-bottom: 50px;
}


/* Media Queries -------------------- */

@media (min-width: 768px)
