* {
	box-sizing: border-box;
}
body {
	font-family: 'Merriweather', sans-serif;
	color: #384047;
	margin: 0;
}

#review {
	font-size: 1.5em;
	text-transform: uppercase;
	font-weight: bolder;
	color: white;
  text-align: center;
	padding: 20px;
	background-color: black;
}

h1 {
	font-size: 1.5em;
	font-weight: bolder;
  text-align: center;
}

h3 {
	font-size: 1.5em;
	font-weight: bolder;
  margin: 0 0 30px 0;
  text-align: left;
	padding-top: 20px;
}
/* Main -------------------- */
	hr.class-1 {
		border-top: 10px double black;
}

#container {
	width: 92%;
	margin: auto;
}

#name, #email, #phone, #address, #city, #zip {
	font-size: .75em;
	font-style: italic;
	text-align: right;
	opacity: .50;
}

#state {
	font-size: 1em;
	text-align: left;
	opacity: .50;
}

hr.class-2 {
	border-top: 3px solid black;
}

.btn {
  font-size: 0.875em;
	font-weight: 400;
  cursor: pointer;
  color: #fff;
  padding-left: 20px;
  padding-right: 20px;
	width: 100%;
	margin: .5em 0 1em;
	text-transform: uppercase;
}
.btn:hover {
  opacity: .30;
}
.default {
  background-color: red;
}
.error {
  background-color: #ff784f;
}

/* Form -------------------- */

.form-contact {
  padding: 20px 24px;
  background: none;
}
label {
  display: block;
  margin-bottom: 0.5em;
}
label:last-of-type {
 margin-top: 1.1em;
}
input,
select,
textarea  {
  outline: 0;
	border: none;
	padding: 15px;
	background: #f4f7f8;
	border-radius: .3em;
	border: 3px solid rgba(0,0,0,0.05);
}

input:focus,
select:focus,
textarea:focus {
  border-color: #52bab3;
}

input[type="text"],
input[type="email"],
input[type="phone"],
input[type="address"],
input[type="city"],
select[type="state"],
textarea {
	font-size: 1em;
  color: #222;
  font-weight: 300;
  width: 100%;
  height: auto;
  margin-bottom: 1.2em;
  box-shadow: 0 1px 0 rgba(0,0,0,0.08) inset;
}
form > a {
  font-size: .85em;
}
input[type="checkbox"] + label {
  font-weight: 300 bold;
	font-size: .85em;
  display: inline;
	padding-left: 5px;
	margin: 5px;
}

input[type="radio"] + label {
  font-weight: 300;
	font-size: .85em;
  display: inline;
	padding-left: 5px;
	margin: 5px;
}

footer {
	text-align: center;
	font-size: .75em;
	font-style: italic;
	opacity: .50;
	margin-bottom: 50px;
}


/* Media Queries -------------------- */

@media form (min-width: 769px) {
	form {
		max-width: 550px;
	}
}
